<ul id='sub_nav'>
  <li>
    <a href='civil_rights.html' <%= "class='nav-selected'" if @item[:title] == 'Civil Rights' && @item[:main_nav] == 'Committees' %> >Civil Rights</a>
  </li>
  <li>
    <a href='communication.html' <%= "class='nav-selected'" if @item[:title] == 'Communication' && @item[:main_nav] == 'Committees' %> >Communication</a>
  </li>
  <li>
    <a href='community_service.html' <%= "class='nav-selected'" if @item[:title] == 'Community Service' && @item[:main_nav] == 'Committees' %> >Community Service</a>
  </li>
  <li>
    <a href='education.html' <%= "class='nav-selected'" if @item[:title] == 'Education' && @item[:main_nav] == 'Committees' %> >Education</a>
  </li>
  <li>
    <a href='endorsement.html' <%= "class='nav-selected'" if @item[:title] == 'Endorsements' && @item[:main_nav] == 'Committees' %> >Endorsements</a>
  </li>
  <li>
    <a href='counsel.html' <%= "class='nav-selected'" if @item[:title] == 'In House Counsel' && @item[:main_nav] == 'Committees' %> >In House Counsel</a>
  </li>
  <li>
    <a href='membership.html' <%= "class='nav-selected'" if @item[:title] == 'Membership' && @item[:main_nav] == 'Committees' %> >Membership</a>
  </li>
  <li>
    <a href='mentorship.html' <%= "class='nav-selected'" if @item[:title] == 'Mentorship' && @item[:main_nav] == 'Committees' %> >Mentorship</a>
  </li>
  <li>
    <a href='scholarship.html' <%= "class='nav-selected'" if @item[:title] == 'Scholarship' && @item[:main_nav] == 'Committees' %> >Scholarship</a>
  </li>
  <li>
    <a href='social.html' <%= "class='nav-selected'" if @item[:title] == 'Social / Banquet' && @item[:main_nav] == 'Committees' %> >Social / Banquet</a>
  </li>
  <li>
    <a href='advisory.html' <%= "class='nav-selected'" if @item[:title] == 'Strategic Advisory' && @item[:main_nav] == 'Committees' %> >Strategic Advisory</a>
  </li>
</ul>