<ul id='sub_nav'>
  <li class="gallery-sub-nav">
    <a href='gallery_in_house.html' <%= "class='nav-selected'" if @item[:title] == 'In House Mixer Sept. 2010' && @item[:main_nav] == 'Gallery' %> >In House Mixer<br />Sept. 2010</a>
  </li>
  <li class="gallery-sub-nav">
    <a href='gallery_mentorship_mixer_sep_2010.html' <%= "class='nav-selected'" if @item[:title] == 'Mentorship Mixer Sept. 2010' && @item[:main_nav] == 'Gallery' %> >Mentorship Mixer<br />Sept. 2010</a>
  </li>
  <li class="gallery-sub-nav">
    <a href='gallery_mock_interview.html' <%= "class='nav-selected'" if @item[:title] == 'Mock Interview August 2010' && @item[:main_nav] == 'Gallery' %> >Mock Interviews<br />August 2010</a>
  </li>
  <li class="gallery-sub-nav">
    <a href='gallery_mentorship_mixer_spring_2010.html' <%= "class='nav-selected'" if @item[:title] == 'Mentorship Mixer Spring 2010' && @item[:main_nav] == 'Gallery' %> >Mentorship Mixer<br />Spring 2010</a>
  </li>
  <li class="gallery-sub-nav">
    <a href='gallery_banquet_2009.html' <%= "class='nav-selected'" if @item[:title] == 'Annual Banquet 2009' && @item[:main_nav] == 'Gallery' %> >Annual Banquet<br />2009</a>
  </li>
</ul>