<div id="main_menu">
  <ul id='nav'>
    <li>
      <a href='index.html' <%= "class='nav-selected'" if @item[:main_nav] == 'Home' %> >Home</a>
    </li>
    <li>
      <a href='about.html' <%= "class='nav-selected'" if @item[:main_nav] == 'About' %> >About</a>
    </li>
    <li>
      <a href='news.html' <%= "class='nav-selected'" if @item[:main_nav] == 'News' %> >News</a>
    </li>
    <li>
      <a href='civil_rights.html' <%= "class='nav-selected'" if @item[:main_nav] == 'Committees' %> >Committees</a>
    </li>
    <li>
      <a href='award.html' <%= "class='nav-selected'" if @item[:main_nav] == 'Awards' %> >Awards</a>
    </li>
    <li>
      <a href='main_membership.html' <%= "class='nav-selected'" if @item[:main_nav] == 'Membership' %> >Membership</a>
    </li>
    <li>
      <a href='events.html' <%= "class='nav-selected'" if @item[:main_nav] == 'Events' %> >Events</a>
    </li>
    <li>
      <a href='gallery_in_house.html' <%= "class='nav-selected'" if @item[:main_nav] == 'Gallery' %> >Gallery</a>
    </li>
  </ul>

  <div class='logo'></div>

</div>