--- 
main_nav: About
title: Who We Are

banners: ["About_Page_001", "About_Page_002", "About_Page_003", "About_Page_004", "About_Page_005"]
---

<div class="white-box">
  <div id='banner' class="banner-about">
    <% @item[:banners].each do |image| %>
    <div id="banner_image_about" style="background: url('galleries/<%= image %>.jpg'); <%= 'display: none;' unless image == @item[:banners][0] %>"></div>
    <% end %>
  </div>
  
  <div id='social_links_about'>
    <a href='http://www.facebook.com/group.php?gid=131858536851'>
      <img src='images/facebook_button.gif' />
    </a>
    <!--
    <a href='#'>
      <img src='images/twitter_button.gif' />
    </a>
    -->
    <a href='contact.html'>
      <img src='images/email_button.gif' />
    </a>
  </div>
</div>

<div class='greybox'>
  <h3 class="paragraph-header">Who We Are</h3>

  <p>
    Formed over twenty years ago, the Asian Pacific American Bar Association of Silicon Valley ("APABA") is an excellent forum for Asian American attorneys in the Silicon Valley to network, develop professional skills, participate in community service, take positions on issues affecting Asian Americans, and empower Asian Americans in the Valley. Asian American attorneys in the Silicon Valley play a critical role in enriching our legal and civic communities by practicing in every legal field - practicing in firms of all sizes, large and small corporations, academia, government, courts, legislature, and in public interest.
  </p>
  <p>
    In order to fulfill its mission to foster professional development, advocacy and community involvement for Silicon Valley's Asian Pacific American legal community, and to promote justice and equality for all, APABA is forging coalitions with other minority bars and communities, including the Minority Bar Coalition, Vietnamese American Bar Association of Northern California, Southeast Asian Bar, Asian American Bar Association of the Greater Bay Area, the South Asian Bar Association, Santa Clara County Bar Association, various State Bar Committees, Asian Law Alliance and other local community organizations.
  </p>

  <h3 class="paragraph-header">Mission Statement</h3>
  <p>
    APABA's mission is to foster professional development, advocacy and community involvement for Silicon Valley's Asian Pacific American legal community, and to promote justice and equality for all.
  </p>
</div>