--- 
title: In House Counsel
main_nav: Committees
officers: [["Orlena-Shek", "Orlena Fong Shek", "Co-Chair<br /><a href='mailto:Orlena.shek@netapp.com' class='link-non-float'>Orlena.shek@netapp.com</a>", "<p>Orlena Fong Shek is a software licensing attorney at NetApp, Inc. Prior to joining NetApp in 2009, Orlena was Senior Counsel at Sun Microsystems, in the Products & Technology Law Group for 2 years. From 2006 until 2009, Orlena was Co-Chair of the Asian American Bar Association of the Greater Bay Area (AABA) before joining the board of the Asian Pacific American Bar Association of Silicon Valley (APABASV) and co-chairing the In-House Committee in 2010.</p>"],
["Valerie-Alabanza-Cary", "Valerie Alabanza-Cary", "Co-Chair<br /><a href='mailto:valcary@gmail.com' class='link-non-float'>valcary@gmail.com</a>", "<p>Valerie Alabanza-Cary is an IP & Patent Counsel Director at Juniper Networks. She previously worked as an IP Transactions Counsel at SAP and before that, she worked as an Associate General Counsel in the Products & Technology Law Group at Sun Microsystems. . She has over 10 years experience in licensing. Valerie is a 2010 APABASV board member and a co-chair for the APABASV In-House Committee.</p>"],
["Penny-Honda", "Penny Honda", "Co-Chair<br /><a href='mailto:Penny.honda@gmail.com' class='link-non-float'>Penny.honda@gmail.com</a>", "<p>Penny Honda is currently Corporate Counsel at Oracle in the Development & Engineering Legal group. Previously, she worked in Sun Microsystem's legal department for almost four years. She graduated from UC Davis with honors as a double major in Japanese and Political Science, and received her law degree from Santa Clara University. During law school, she served as Symposium Editor for the school's Law Review and as Co-President of the Asian Pacific American Law Student Association.</p>"]]

companies: [["Affymetrix, Inc.", "Adobe", "Agilent Technologies, Inc.", "Allstate Insurance Company"],
["Apple Inc.", "Applied Materials, Inc.", "ARM", "ASI Inc."],
["Atmel Corporation", "bebe stores, inc.", "Broadcom", "Brocade"],
["ebay", "Elpida Memory", "EMC Corporation", "Facet Biotech Corporation"],
["FibroGen, Inc.", "Cisco", "Criteo", "Cupertino Electric"],
["Cryptography Research, Inc.", "Del Monte", "Diamond Foods", "Digital Fuel Technologies Inc."],
["Glu Mobile", "Google", "Hermes-Microvision", "HP"],
["IBM Corporation", "JDS Uniphase Corporation", "Juniper Networks", "Marvell Semiconductor Inc."],
["McKesson Corporation", "Microsoft Corporation", "NASA", "NetApp, Inc."],
["NETGEAR, Inc.", "NexTag, Inc.", "NVIDIA Corporation",  "Openwave"],
["Oracle", "Palm, Inc.", "PayPal", "Phoenix"],
["Technologies Ltd.", "QuinStreet, Inc.", "Responsys", "Riverbed Technology"],
["Rovi Corporation", "SanDisk Corp.", "SAP", "Solar Power Partners, Inc."],
["Sony Computer Entertainment America LLC", "Sony Ericsson", "Spansion LLC", "SVB Financial Group"],
["Symantec Corporation", "Synerchip Co., Ltd.", "TeleNav, Inc.", "TeleSoft Partners"],
["The Matteson Companies", "Trident Micro", "TSMC", "UMC"],
["Varian Medical Systems", "Verigy", "Visa", "VMware"],
["Volterra", "WebJuice, LLC", "Xilinx, Inc.", "Yahoo!"]]
---

<div class='white-box'>
  <h3 class="main-header">IN-HOUSE COUNSEL COMMITTEE</h3>

  <div class='about-profile'>
    <% @item[:officers].each do |profile| %>
    <div class="profile-section">
      <div class="portrait">
        <div>
          <img src='galleries/BoardMembers/<%= profile[0] %>.jpg' />
        </div>
        <p>
          <span class="highlight">
            <%= profile[1] %>
            <br />
            <span class="small"><%= profile[2] %></span>
          </span>
        </p>
      </div>

      <div class="profile-detail">
        <%= profile[3] %>
      </div>
    </div>

    <div style="clear:both"></div>
    <% end %>
  </div>
</div>

<div class="greybox">
  <p>The In-House Committee is dedicated to promoting career growth and development to In-House attorneys and providing access to legal education programs targeted for in-house counsel. The Committee also acts as a critical resource for APABASV members interested in pursuing careers in-house and in fostering connections with other in-house counsel in Silicon Valley.</p>
  <p>&nbsp;</p>

  <h3 class="paragraph-header">Co-Chairs Message</h3>
  <p>Welcome to the APABASV In-House Committee! As part of a premier APA bar association located in the heart of the Silicon Valley, our in-house attorney membership has grown to over 120 members. The In-House Committee provides a unique opportunity for APA in-house attorneys to network with other in-house attorneys and private practitioners, while promoting career growth and development and access to legal education programs targeted for in-house counsel. The Committee also acts as a critical resource for APABASV members interested in pursuing careers in-house and in fostering connections with other in-house counsel in Silicon Valley.</p>
  <p>&nbsp;</p>

  <h3 class="paragraph-header">Committtee's Activities in 2010</h3>
  <p><span style="text-decoration: underline;">Diversity Award subcommittee:</span> This year's diversity award subcommittee implemented a formal application and review process for the APABASV Diversity Award, which is presented at the annual scholarship and diversity awards dinner. In addition to the Corporate Diversity Award, which has recognized and honored the corporation with the legal department that has demonstrated a strong commitment to diversity and inclusiveness for the past five years, this was the first time a Law Firm Diversity Award recipient was also selected. Team members include: Valerie Alabanza-Cary, Orlena Fong Shek, Rita Chan, Anthony Kikuta, and Penny Honda (Lead).</p>
  <p><span style="text-decoration: underline;">CLE subcommittee:</span> This year's CLE event is planned to be a GC roundtable for October or November 2010 and will be co-hosted with APABA to be held at Fenwick and co-sponsored by Novak Druce. Team members include: Orlena Fong Shek, Diana Olin and Joie Le (Lead).</p>
  <p><span style="text-decoration: underline;">In-House List subcommittee:</span> This year, the In-House Subcommittee successfully launched its Bay Area In-House Attorney List, currently having over 110 List members. The Silicon Valley holds a unique place in the nation with thousands of high tech companies headquartered here, many of them Fortune 1000 and many more start-up companies that will become tomorrow's Fortune 1000. As lawyers in these companies, we are fortunate to work and live in such an exciting and dynamic area and field. Many or most of these companies in the Valley have an APA lawyer in the legal department. This List provides the potential and power of a network that will provide its APA In-house attorneys an unrivaled resource for: 1) networking; 2) sharing best practices; and 3) career development / job searches. Team members include: Orlena Fong Shek, Penny Honda, Valerie Alabanza-Cary and Andrew Vu (Co-Leads).</p>
  <p>The subcommittee hosted an Inaugural In-House Only Networking Event on September 16, 2010 hosted by White & Case, where List members met and expanded their APA attorney network.</p>
  <p><span style="text-decoration: underline;">In-House Law Firm Mixer subcommittee:</span> This committee organized a successful summer In-House/Law Firm Mixer sponsored by EFI, Morrison & Foerster LLP, and Cooley LLP. The event took place on July 22nd from 6 p.m. to 8 p.m. at Lavanda Restaurant located at 185 University Avenue in Palo Alto, with over 75 people in attendance. Team members include: Bryan Ko, Diana Olin, and Reuben Chen (Lead).</p>
  <p><span style="text-decoration: underline;">Personal Branding Speaker Event subcommittee:</span> This committee successfully organized a speaker event, hosted by Cooley with over 40 people in attendance, on April 8, 2010 with speaker Karen Kang -"The Power of Personal Branding: Tales from the Trenches." In the current economic environment, having a strong personal brand is important not only to stand apart in a competitive job market, but to also avoid being seen as expendable in a company layoff. Branding expert Karen Kang shares her secrets to developing a powerful personal brand, and presented key personal branding concepts and templates by exploring her own personal branding journey. Through her concrete examples and results, you will learn what it takes to build your own personal brand-whether you're a job seeker, an employee or an entrepreneur. Team members include Rew Ikazaki and Reuben Chen.</p>
  <p>In 2009, last year's In-House Committee initiatives and activities included a networking mixer for in-house counsel and law firms in Silicon Valley at Bistro D'Asie in Palo Alto, which drew over 75 local in-house and private law firm attorneys. The On-House Committee also organized a MCLE seminar that discussed the LG Quanta case as well as a seminar relating to legal hiring and trends during an economic downturn.</p>
  <p><span style="text-decoration: underline;">Link to Diversity Awards information on APABASV website:</span> <a href="http://www.apbasv.org/awards" class="link-non-float">http://www.apbasv.org</a> awards awards.php#Corporate [please note when this gets transferred to the new site - need to make a global change from "APABASV" to "APABASV"]</p>
  <p>&nbsp;</p>

  <h3 class="paragraph-header">Bay Area Asian Pacific American ("APA") In-House Attorney List ("List")</h3>
  <h3 class="paragraph-header">ABOUT THE LIST:</h3>
  <p>The Silicon Valley holds a unique place in the nation with thousands of high tech companies headquartered here, many of them Fortune 1000 and many more start-up companies that will become tomorrow's Fortune 1000. As lawyers in these companies, we are fortunate to work and live in such an exciting and dynamic area and field. Many or most of these companies in the Valley have an APA lawyer in the legal department. APABA would like to harness the potential and power of this network to provide its APA In-house attorneys an unrivaled resource for: 1) networking; 2) sharing best practices; and 3) career development / job searches.</p>
  <p>Are you interested in expanding your network of APA In-House Attorneys in the Silicon Valley? If so, then you won't want to miss this opportunity! The Asian Pacific American Bar Association of Silicon Valley (APABA) has kicked off its 2010 Bay Area APA In-House Attorney List recruitment drive!</p>

  <p>&nbsp;</p>
  <h3 class="paragraph-header">REGISTRATION:</h3>
  <p>Please join our List by completing the information at this link: <a href="http://spreadsheets.google.com/viewform?formkey=dGtRQWFsWnZ5TVhTQURSTXFWaTdNbXc6MQ" class="link-non-float">http://spreadsheets.google.com/viewform?formkey=dGtRQWFsWnZ5TVhTQURSTXFWaTdNbXc6MQ</a>. It's easy and quick!</p>
  <p>Join the APABA Bay Area APA In-House Attorney List and can start making connections today!</p>

  <p>&nbsp;</p>
  <h3 class="paragraph-header">COMPANIES REPRESENTED:</h3>
  <p>Our List includes over 100 attorneys from the following companies:</p>

  <div style="clear:both"></div>
  <table class="community-table">
    <% @item[:companies].each do |row| %>
    <tr>
      <% row.each do |col| %>
      <td style="width: 25%;"><%= col %></td>
      <% end %>
    </tr>
    <% end %>
  </table>

  <p>&nbsp;</p>
  <h3 class="paragraph-header">LIST PURPOSE AND TERMS OF USE:</h3>
  <h3 class="paragraph-header">A. Purpose of List:</h3>
  <p>Use for the following general networking purposes:</p>
  <p>(1) SHARING BEST PRACTICES - This may include exchanging ideas regarding your particular area of practice;</p>
  <p>(2) CAREER DEVELOPMENT - This may include requests for informal mentoring or other opportunities to discuss topics of career development; and</p>
  <p>(3) JOB SEARCHING - This may include being contacted by a potential job candidate interested in submitting their resume or contacting you for an informational interview.</p>
  <p>&nbsp;</p>

  <h3 class="paragraph-header">B. Terms of Use:</h3>
  <p>(1) You may not share any List information with anyone outside the List. Use of the List information is limited to:</p>
  <p>(a) In-House List Members only;</p>
  <p>(b) APABA members (You must join APABA); and</p>
  <p>(c) Attorneys with at least one year In-House employment.</p>

  <p>If You change your place of employment, or are no longer work In-House, please inform us by emailing <a href="mailto:apainhouselist@googlegroups.com" class="link-non-float">apainhouselist@googlegroups.com</a>.</p>
  <p>(2) You may not use any List information for commercial use/advertisers/sponsors/other third parties or for soliciting legal services (e.g., consulting).</p>
  <p>(3) APABA may share statistical or aggregated non-personal information about the List with APBA members or for recruitment purposes.</p>
  <p>(4) You may remove yourself from this List or update personal information by emailing <a href="mailto:apainhouselist@googlegroups.com" class="link-non-float">apainhouselist@googlegroups.com</a> with "Please Remove" in the subject line.</p>
  <p>(5) APABA reserves the right to remove any member from this List at its sole discretion.</p>
  <p>(6) You can verify the information on record by emailing <a href="mailto:apainhouselist@googlegroups.com" class="link-non-float">apainhouselist@googlegroups.com</a>.</p>
  <p>(7) As a condition of your use of this List, you warrant to APBA that you will not use this List for any purpose that is unlawful or prohibited by these terms, conditions and notices.</p>
  <p>(8) At its sole discretion, APABA may amend these Terms of Use at any time and You agree to bound by the revised Terms of Use. You may remove yourself from the List if You no longer agree to the Terms of Use by e-mailing <a href="mailto:apainhouselist@googlegroups.com" class="link-non-float">apainhouselist@googlegroups.com</a> with "Please Remove" in the subject line.</p>
  <p>(Rev. 2 - May 18, 2010)</p>
  <p>&nbsp;</p>

  <h3 class="paragraph-header">CONTACT REQUESTS FOR LIST MEMBERS:</h3>
  <p>To request a contact from a company on the List, please send an email to: <a href="mailto:apainhouselist@googlegroups.com" class="link-non-float">apainhouselist@googlegroups.com</a></p>
</div>
