--- 
title: In House Mixer Sept. 2010
main_nav: Gallery

images: [["IMG_4979", "IMG_4976", "IMG_4974", "IMG_4980", "IMG_0808"],
["IMG_4981", "IMG_0791", "IMG_0792", "IMG_0793", "IMG_0797"],
["IMG_0798", "IMG_0799", "IMG_0800", "IMG_0801", "IMG_0802"],
["IMG_0803", "IMG_0804", "IMG_0805", "IMG_0806", "IMG_0809"],
["IMG_0810", "IMG_0811", "IMG_0813", "IMG_0814", "IMG_0816"],
["IMG_0817", "IMG_0818", "IMG_0822", "IMG_0824", "IMG_0825"],
["IMG_0826", "IMG_0827", "IMG_0828", "IMG_0829", "IMG_0830"]]
---
<div id="gallery" class='white-box'>
  <div id='gallery-banner'></div>

  <div style="clear:both"></div>

  <div>
    <a id="arr-prev" href="">prev</a>
    <ul id="thumbnail">
      <% @item[:images].each do |images| %>
      <li>
        <% images.each do |image| %>
        <div class="mini-thumbnail" style='background: url("galleries/In-House-Committee/<%= image %>_thumbnail.gif");' onclick="changeImage('galleries/In-House-Committee/<%= image %>.jpg')"></div>
        <% end %>
      </li>
      <% end %>
    </ul>
    <a id="arr-next" href="">next</a>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    changeImage('galleries/In-House-Committee/<%= @item[:images][0][0] %>.jpg');
  });
</script>