--- 
main_nav: About
title: Officers / Board

officers: [["Rudy-Kim", "Rudy Kim", "President", "<p>Mr. Kim is a partner in Morrison & Foerster's Palo Alto office, where he focuses on intellectual property and patent litigation. He received his J.D. from the Georgetown University Law Center and his B.S. in Electrical Engineering from the University of California, Los Angeles. Mr. Kim previously served as a lawclerk to the Honorable Alan D. Lourie of the U.S. Court of Appeals for the Federal Circuit.</p>"],
["Margaux-Aviguetero", "Margaux A. Aviguetero", "Vice President", "<p>Margaux A. Aviguetero is part of the firm's nationally recognized patent reexamination group, focusing on inter partes and ex parte reexaminations of patents involved in multi-party litigations. Ms. Aviguetero's technical expertise includes biotechnology, chemistry, microbiology, computer software, network architectures, and computer hardware. She also has significant experience in intellectual property, general civil, and business litigation in both State and Federal Courts.</p>"],
["Genelle-Ng", "Genelle Ng", "Secretary", "<p>Genelle Ng is an associate in the Technology Transactions group at Fenwick & West. Her practice involves representing clients on intellectual property matters in connection with mergers and acquisitions, as well as negotiating and drafting technology license agreements in various spaces including computer software, communications, and biotechnology. Genelle graduated from University of California, Berkeley, and earned her law degree at Santa Clara University. This is her second year serving as Secretary of APBA.</p>"],
["Wenna-Li", "Wenna Li", "Treasurer", "<p>Wenna is an attorney in the Tax Department of Intel Corporation.  Prior to Intel, Wenna worked at Ernst & Young.  Wenna served as Chair of Income/Other Tax Committee of the State Bar of California in 2002 and 2003.  Wenna has served as the Treasurer for APABASV since 2003. Wenna received a J.D from Santa Clara University School of Law and has a LL.M in Taxation from Golden Gate University School of Law.</p>"]]

boards: [["Alec-Chang", "Alec Y. Chang", "", "<p>Alec Chang is a partner at Skadden, Arps and handles antitrust counseling and litigation matters related to a broad range of industries. He has represented a number of major corporations in connection with antitrust investigations of merger, acquisition and joint venture transactions (both consensual and contested. Alec advises corporate clients on other antitrust and competition matters such as the development and implementation of compliance programs, proposed business plans and strategies, as well as intellectual property matters with antitrust implica tions.</p>"],
["", "Anthony Kikuta", "", "<p></p>"],
["Cammie-Chen", "Cammie Chen", "", "<p>Cammie Chen is a partner at the Law Offices of McHugh & Chen, APC, a litigation firm in San Jose which represents clients with disputes concerning insurance coverage, personal injury, employment law, elder law, and environmental law. Cammie is a member of the Santa Clara County Bar Association and a board member and former president of the Asian Pacific Bar Association of the Silicon Valley.</p>"],
["", "Christie Yang", "", "<p></p>"],
["", "Doris Chen", "", "<p></p>"],
["", "Hanley Chew", "", "<p>Hanley Chew is currently an Assistant U.S. Attorney in the Computer Hacking and Intellectual Property Section of the U.S. Attorney's Office in San Jose.  Prior to his current position, Mr. Chew worked as an Assistant U.S. Attorney in the Organized Crime and Terrorism Section of the U.S. Attorney's Office inLos Angeles.  Mr. Chew has also worked as a litigation associate for Wilson Sonsini and Jones Day.</p>"],
["", "Inderpreet Sawhney", "", "<p></p>"],
["", "Matthew Chen", "", "<p>Matthew Chen is an associate in the Litigation Department of Morrison & Foerster's Palo Alto office, where his practice focuses on patent and securities litigation.</p>"],
["", "Sallie Kim", "", "<p>Sallie Kim practices litigation at GCA Law Partners LLP in the areas of employment, general commercial litigation, and intellectual property litigation, representing both individuals and companies. Sallie graduated from Princeton University, and earned her law degree at Stanford Law School. She is also a current board member of APBA.</p>"],
["Sanjeet-Dutta", "Sanjeet Dutta", "", "<p>Sanjeet is a member of the Intellectual Property Group. Mr. Dutta's practice focuses on patent litigation, patent prosecution, licensing agreements and IP diligence and audits.</p>"],
["Steve-Chariyasatit", "Steve Chariyasatit", "Co-Chair", "<p>Steve Chariyasatit is an associate in Orrick's Silicon Valley office and a member of the Employment Law Group. While in law school, he served as Co-Chair of the Asian Pacific American Law Students Association and Co-Chair of the Donations Committee for the NYU Public Service Auction. He is currently a Board Member and Scholarship Committee Co-Chair of the APABASV.</p>"],
["Thanh-Ngo", "Thanh Ngo", "Lone Chair", "<p>Thanh is currently a Deputy District Attorney in Santa Clara County where he prosecutes sexual assaults and child molestation.  Thanh was born in Vietnam and is a graduate of Claremont McKenna College and UCLA School of Law.  Thanh is active with many community groups such as Asian Law Alliance, BAYMEC, Vietnamese American Bar Association, and Community United Against Violence. Thanh has also taught Criminal Justice Studies at San Jose State University.</p>"],
["Reuben-Chen", "Reuben Chen", "", "<p>Reuben Chen is an attorney at Cooley LLP. Mr. Chen's practice focuses on technology and intellectual property litigation, primarily patent litigation. Additionally, Mr. Chen's efforts onpro bono matters have been recognized by the American Bar Association, the National Law Journal, the California Lawyers for the Arts, and the San Francisco Daily Journal. Mr. Chen received a J.D. from Stanford Law School.</p>"],
["Esther-Fan", "Esther Fan", "", "<p>Esther Fan is a technology transaction and special education attorney. Her practice focuses primarily on business transaction, technology licensing, and other corporate related matters. Ms. Fan started out as a trial attorney litigating business and employment matters. She then went in-house representing high tech companies, including TSMC, MIPS, Iridium, Hannspree, and others. In addition, Ms. Fan advocates for children with special needs and is actively involved in the education community.</p>"],
["Thomas-Kim", "Thomas Kim", "", "<p>Tom is a founding partner of Kastner | Kim LLP. Tom has spent his career practicing executive compensation law, corporate law and employment law. His experience includes establishing and administrating stock or equity compensation plans, employee benefit arrangements and executive compensation arrangements for start up companies and in transactions involving venture capital financings, initial public offerings of securities, mergers and acquisitions and other strategic business transactions.</p>"],
["Bryan-Ko", "Bryan Ko", "", "<p>General Counsel, Vice President of Strategic Relations and Corporate Secretary Mr. Ko, General Counsel of EFI, began serving on the Board of APABA-SV in 2010. Prior to joining EFI, Mr. Ko was an associate in the M&A and Real Property groups of Shearman & Sterling in its San Franciscoand New York offices. Mr. Ko holds a J.D. from Rutgers Law School, a M.B.A University of California - Haas School of Businessand received a B.A. from U.C. - Berkeley.</p>"],
["Mai-Phan", "Mai D. Phan", "", "<p>Mai is a New Orleans. Mai graduated from Tulane University and earned her J.D. from Loyola Law School in 2002. During law school, Mai served as President of APALSA and clerked for the US Attorney's Office, Eastern District of Louisiana. Mai obtained her LLM in International Legal Studies from Golden Gate University School of Law with an emphasis on International Business Transactions. Mai practices family, immigration, and corporate law.</p>"],
["Orlena-Shek", "Orlena Fong Shek", "", "<p>Orlena Fong Shek is a software licensing attorney at NetApp, Inc. Prior to joining NetApp in 2009, Orlena was Senior Counsel at Sun Microsystems, in the Products & Technology Law Group for 2 years. From 2006 until 2009, Orlena was Co-Chair of the Asian American Bar Association of the Greater Bay Area (AABA) before joining the board of the Asian Pacific American Bar Association of Silicon Valley (APABASV) and co-chairing the In-House Committee in 2010.</p>"],
["Valerie-Alabanza-Cary", "Valerie Alabanza-Cary", "", "<p>Valerie Alabanza-Cary is an IP & Patent Counsel Director at Juniper Networks. She previously worked as an IP Transactions Counsel at SAP and before that, she worked as an Associate General Counsel in the Products & Technology Law Group at Sun Microsystems. . She has over 10 years experience in licensing. Valerie is a 2010 APABASV board member and a co-chair for the APABASV In-House Committee.</p>"],
["Misasha-Suzuki", "Misasha Suzuki", "", "<p>Misasha Suzuki is a managing associate in the intellectual property litigation group at Orrick, Herrington & Sutcliffe LLP's Menlo Park office. Besides her law practice, she is passionate about diversity issues both in and beyond the workplace and is very active in Bay Area diversity efforts. This is her first year as a Board Member for the Asian Pacific American Bar Association of Silicon Valley. Her complete professional biography can be found at: <a href='http://www.orrick.com/lawyers/Bio.asp?ID=223292' class='link-non-float'>http://www.orrick.com/lawyers/Bio.asp?ID=223292</a></p>"],
["Susan-Tien", "Susan Tien", "", "<p>Susan Tien is long-standing APABA Board member and a former Vice President. She is committed to social justice and career advancement for Asian Pacific Americans. Susan graduated from Harvard Collegeand University of Pennsylvania Law School. She practiced law with WSGR and Silicon Valley companies (including eBay and SGI), and is currently a Managing Director of The Dubin Group, a premier legal search firm. For more information about Susan, please see <a href='http://www.dubingroup.com/about/biographies.html' class='link-non-float'>http://www.dubingroup.com/about/biographies.html</a></p>"]]
---

<div class='white-box'>
  <div class='about-profile'>
    <h3 class="main-header">Officers</h3>

    <% @item[:officers].each do |profile| %>
    <div class="profile-section">
      <div class="portrait">
        <% if profile[0] == "" %>
        <div class="fake-member-image">
        </div>
        <% else %>
        <div>
          <img src='galleries/BoardMembers/<%= profile[0] %>.jpg' />
        </div>
        <% end %>

        <p>
          <span class="highlight">
            <%= profile[1] %>
            <br />
            <span class="small"><%= profile[2] %></span>
          </span>
        </p>
      </div>

      <div class="profile-detail">
        <%= profile[3] %>
      </div>
    </div>

    <div style="clear:both"></div>
    <% end %>
  </div>

  <hr />

  <div class='about-profile'>
    <h3 class="main-header">Board Members</h3>

    <% @item[:boards].each do |profile| %>
    <div class="profile-section">
      <div class="portrait">
        <% if profile[0] == "" %>
        <div class="fake-member-image">
        </div>
        <% else %>
        <div>
          <img src='galleries/BoardMembers/<%= profile[0] %>.jpg' />
        </div>
        <% end %>

        <p>
          <span class="highlight">
            <%= profile[1] %>
            <br />
            <span class="small"><%= profile[2] %></span>
          </span>
        </p>
      </div>

      <div class="profile-detail">
        <%= profile[3] %>
      </div>
    </div>

    <div style="clear:both"></div>
    <% end %>
  </div>
</div>