.portrait {
  float: left;
  clear: left;
  width: 180px;
}

.portrait.slide {
  clear: none;
  position: relative;
}

.portrait p {
  line-height: 10px;
}

.portrait span.highlight {
  line-height: 15px;
}

a.link-non-float {
  float: none;
}

.community-table td {
  border: 1px solid #333;
  padding: 0 15px;
}

td.community-table-header {
  background-color: #a3bfd0;
  font-size: 16px;
  padding: 15px;
}

